body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.aot {
    background-image: url('./img/header.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

header img {
    width: 100px;
}

.navLink {
    color: white;
    text-decoration: none;
    margin-left: 16px;;
}

.navLink:hover {
    color: #B48A4E;
}