body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.aot {
    background-image: url('./img/header.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header img {
    width: 100px;
}

.navLink {
    color: white;
    text-decoration: none;
    margin-left: 16px;
    ;
}

.mt-16 {
    margin-top: 16px;
}

.navLink:hover {
    color: #B48A4E;
}

.navImage {
    height: 24px;
    width: auto;
    margin-left: 16px;
}

.navImage:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 4px #FFFFFF);
}

h1 {
    font-size: 84px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Viga';
    font-weight: 100;
    text-align: center;
}

.button {
    background-color: #B48A4E;
    color: white;
    text-decoration: none;
    padding: 16px;
}

.section-quicklinks {
    background-color: black;
    padding: 80px 80px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.quickLink {
    color: #B48A4E;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* width: 30%; */
    flex: 1; /* to be discussed with designer */
}

.quickLink img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.buy-ticket-section {
    background-color: #272727;
    display: flex;
    align-items: center;
}

.buy-ticket-img-left {
    height: 280px;
}

.festival-info {
    padding: 40px;
    height: 200px;
    flex: 1;
    text-align: center;
}

.festival-info h2 {
    margin-block-start: 0;
}

.seperator {
    background-color: white;
    width: 1px;
    height: 200px;
    margin-right: 10px;
}

.buy-ticket-container {
    width: 300px;
    display: flex;
    justify-content: center;
}

.slogan-section {
    padding: 80px 80px;
    color: #B48A4E;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.video-section {
    background-image: url('./img/bottom.png');
    height: 600px;
    background-size: cover;
    background-position: center;
}

footer {
    display: flex;
    background-color: #000000;
    padding: 80px 80px;
}

.half-width {
    width: 50%;
}

.footer-social-media-icon {
    width: 32px;
}

.footer-left {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    padding-right: 16px;
}

.footer-center {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 16px;
}

input {
    height: 41px;
    flex: 1;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    padding-left: 16px;
}

.button-footer {
    width: 200px;
    border-width: 0;
}

.footer-form {
    display: flex;
}

@media(max-width: 950px) {
    .buy-ticket-section {
        flex-direction: column;
    }

    .buy-ticket-img-left {
        width: 100%;
        object-fit: cover;
    }

    .seperator {
        display: none;
        /* width: 200px;
        height: 1px;
        margin-right: 0px;
        margin-bottom: 16px; */
    }

    .buy-ticket-container{
        padding-bottom: 40px;
    }

    .buy-ticket-container .button{
        width: 100%;
        text-align: center;
    }

    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

@media(max-width: 700px) {
    .hide-mobile {
        display: none;
    }

    h1 {
        font-size: 48px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .full-width-mobile {
        width: 100%;
    }

    .footer-left{
        text-align: center;
        margin-bottom: 32px;
        padding-right: 0;
    }
}

@media(max-width: 600px) {
    .section-quicklinks {
        flex-direction: column;
        gap: 100px;
    }
}